<%- include('../../partials/header') %>

<body>
  <%- include('../../partials/navbar') %>
  <div class="container">
    <hr />

    <div class="card">
      <div class="card-header">
        <h2>Article Update</h2>
      </div>

      <div class="card-body">
      <form method="POST" action="/articles/update">

        <input type="hidden" name="id" value="<%= article.id %>">

        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Define the category new title."
          value="<%= article.title %>"
        /><br />
        <textarea class="form-control" id="article" name="body" placeholder="Write your article">
        <%- article.body %>
        </textarea><br>

        <label>Categories</label>
        <select name="category" class="form-control">
            <% categories.forEach(category => { %>
                <% if (category.id == article.categoryId) { %>
                 <option value="<%= category.id %>" selected><%= category.title %></option>
                <% } else { %>
                <option value="<%= category.id %>"><%= category.title %></option>
                <% } %>
            <% }) %>
        </select><br>

        <button class="btn btn-success">Update</button>
      </form>
    </div>
    </div>
  </div>
</body>

<%- include('../../partials/footer') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        selector: '#article',
        plugins: [
                    'advlist',
                    'autolink',
                    'link',
                    'image',
                    'lists',
                    'preview',
                    'searchreplace',
                    'wordcount',
                    'fullscreen',
                    'insertdatetime',
                    'media',
                    'save',
                    'table',
                    'emoticons',
                ]
    })

</script>